*{margin: 0;
    padding: 0;}

/* estilos index */
.header__index {height: 70px;
width: 100%;
background-color:rgb(0, 0, 0);
opacity: 0.7;
position: fixed;
z-index: 10;
display: flex;
align-items: center;
justify-content: space-between;}

.main__index{
  display: flex;
  flex-direction:column;
  background-image: url("../imagenes/casamadera.jpg");
background-repeat: no-repeat;
}

.index__portada {
width: 40%;
height: 555px;
background: rgba(103, 104, 103, 0.5);
border-radius: 5px;
padding-left: 8%;
padding-top: 8%;
overflow: hidden;
float: left;
z-index: 1;
margin-top: 70px;
}


.index__titulo{
  top: 200px;
  font-family: 'Bebas Neue', cursive;
  font-weight:bolder;
  font-size: 80px;
  color: rgb(10, 10, 10);
  opacity: 0.9;
}
.index__titulo--pequeno{
  top: 60%;
  padding-bottom: 0%;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  color: rgb(10, 10, 10);
  opacity: 0.9;
}
.index__intro {

  top: 75%;
  padding-bottom: 0%;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: rgb(10, 10, 10);
  opacity: 0.9;
}

/* estilos proyectos */


.header__proyectos {height: 70px;
  width: 100%;
  background-color:rgb(0, 0, 0);
  opacity: 0.7;
  z-index: 10;
  display: flex;
justify-content: space-around;
}
.main__proyectos{
  background-color: grey;
  opacity: 0.95;
  margin-bottom: 2px;
  
}
.section__proyectos{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 5px;
  justify-content: center;
  padding: 50px;

}
.casasn{
display: flex;
align-items: center;
justify-content: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 15px;
  background-image: url("../imagenes/casasn1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

.casamx{
  background-image: url("../imagenes/casamx.jpg");
  font-family: 'Bebas Neue', cursive;
  font-size: 15px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 2/4;
}

.emu{
  background-image: url("../imagenes/emu1.jpeg");
  font-family: 'Bebas Neue', cursive;
  font-size: 15px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.caru {
  background-image: url("../imagenes/caru1.jpg");
  font-family: 'Bebas Neue', cursive;
  font-size: 15px;
  transition: transform 0.9s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
grid-column: 1/3;
}
/* estilos particulares a paginas de proyectos */
.particular__caru{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(450px, auto);
padding: 50px;
opacity: 0.8
;}
.caru__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 15px;
}
.caru__p{
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  padding: 30px;
}
.particular__emu{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(450px, auto);
padding: 50px;
opacity: 0.8
;}
.emu__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 15px;
}
.emu__p{
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  padding: 30px;
}

.particular__casasn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(450px, auto);
padding: 50px;
opacity: 0.8;
}
.casasn__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 15px;
}
.casasn__p{
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  padding: 30px;
}

.particular__casamx{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(450px, auto);
padding: 50px;
opacity: 0.8;
}
.casamx__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 15px;
}
.casamx__p{
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  padding: 30px;
}
/* estilos unite */

.header__unite {height: 70px;
  width: 100%;
  background-color:rgb(0, 0, 0);
  opacity: 0.9;
  z-index: 10;
  display: flex;
justify-content: space-around;

}
.main__unite{
  display: flex;
  flex-direction: column;

background-color: grey;
}
.formulario__unite{
  display: flex;
  flex-direction: column;   
  top: 20px;
  width: 350px;
  z-index: 9;
  font-family: 'bebas neue';
  font-weight: bolder; 
  font-size: 30px;
  align-items: center;
  background-color: grey;
  border-radius: 10px;
  padding: 20px;
  opacity: 0.95;
  margin-left: 350px;
}
.unite__section__p {
display: flex;
flex-direction: column;
font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: rgb(10, 10, 10);
  opacity: 0.9;

}
/* estilos nosotros */
.header__nosotros {height: 70px;
  width: 100%;
  background-color:rgb(0, 0, 0);
  opacity: 0.7;
  z-index: 10;
  display: flex;
  justify-content: space-around;}

.section__nosotros {
  padding: 50px;
display: grid;
grid-template-columns: auto auto auto;
grid-auto-rows: auto, auto;
background-color:
rgba(149, 149, 149, 0.5);

}
.nosotros__p{
  grid-column: 2/3;
  font-family: 'bebas neue';
font-size: 18px;
padding: 10px;
}
.fede__nosotros {
display: flex;
flex-direction: column;
grid-column: 1/2;
grid-row: 1/4;
font-family: 'bebas neue';
font-size: 15px;

}
.nosotros__desc{
  display: block;
}
.dana__nosotros {
  display: flex;
  flex-direction: column;
  grid-column: 3/4;
  grid-row: 1/4;
  font-family: 'bebas neue';
font-size: 15px;
}
.fede{
  height: 100%;
  width: 100%;
object-fit: cover;
border-radius: 50px;}
.dana{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.main__nosotros{
  display: flex;
  background-image: url(../imagenes/casamadera.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
}

/* estilos contacto */

.header__contacto {height: 70px;
  width: 100%;
  background-color:rgb(0, 0, 0);
  opacity: 0.7;
  z-index: 10;
position: fixed;
display: flex;
justify-content: space-around;}

.main__contacto{
  background-image: url(../imagenes/casamadera.jpg);
  background-repeat: no-repeat;
  opacity: 0.85;
  display: grid;
  grid-template-columns: (15vw, 20vw);
  grid-auto-rows: minmax(300px, auto);
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
.mapa {
  grid-column: 1/3;
  align-items: center;
  height: 100%;
  width: 100%;

}
.formulario__contacto{
display: flex;
flex-direction: column; 
width: 250px;
z-index: 9;
font-family: 'bebas neue';
font-weight: bolder; 
font-size: 30px;
align-items: center;
background-color: grey;
border-radius: 10px;
opacity: 0.95;
}
.contacto__description{
  display: flex;
  flex-direction: column;
z-index: 9;
width: 250px;
height: 50px;
font-family: 'bebas neue';
font-weight: bolder; 
font-size: 30px;

}

/* estilos comunes a todas las paginas */
.boton {
width: 60px;
padding-right:0%;
height: 60px;
position: fixed;
z-index: 999;}
.wsp{
  background-color: rgb(70, 68, 69);
  border: 2px black;
  position: fixed;
  z-index: 999;
  border-radius: 10%;
  bottom: 80px;
  right: 80px;
  padding:2px;
  transition: ease 0.5s;
}
.wsp:hover{
  transform:scale(1.1);
  transition: 0.3s;
}

.logo{ height: 70px;
width: 90px;
} 

nav{
  width: 70%;
  height: 50%;
  padding-top: 20px;
  box-sizing: border-box; 

}

nav ul {
display:flex;
list-style-type: none;
gap: 1rem;
flex-basis: 60%;
float: right;
}
nav ul li a {
color:rgb(247, 247, 247);
font-size: 1.9em;
text-decoration: none;
letter-spacing: 0.45em;
font-family: 'Bebas Neue', cursive;
}
nav ul li a:hover {
color: rgb(13, 12, 12);
transition: 0.8s;

}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Bebas Neue', cursive;
  font-size: 1em;
  background-color:rgb(0, 0, 0);
  opacity: 0.9;
  height: 30px;
}
footer p {

  color: aliceblue;
  letter-spacing: 0.5em;
  display: block;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 480px) {
  footer { flex-direction: column; 
    font-size: 0.8em;
    height: 20px;}
  nav ul  { flex-direction: column;}
  nav ul li a { font-size: 0.8em;}

  .index__titulo{
    top: 20%;
    font-size: 40px;
  }
  .index__titulo--pequeno{
    top: 40%;
    font-size: 3em;}
  .index__intro {
    top: 60%;
    font-size: 15px; }
    .index__portada { overflow:auto;
}
}
@media screen and (max-width: 890px) {
  
  nav ul  { flex-direction: column;}
  nav ul li a { font-size: 1.2em;}
  .particular__caru{
    display: flex;
    flex-direction: column;}

    .caru__p{
      font-size: 12px;
      padding: 10px;}
      .emu__p{
      font-size: 12px;
        padding: 10px;}
      .casasn__p{
      font-size: 12px;
        padding: 10px;}
      .casamx__p{
        font-size: 12px;
        padding: 10px;}

    .particular__emu{
      display: flex;
    flex-direction: column;}
    .particular__casasn{
      display: flex;
    flex-direction: column;}
    .particular__casamx{
      display: flex;
    flex-direction: column;}

  .index__titulo{
    top: 25%;
    font-size: 45px;
  }
  .index__titulo--pequeno{
    top: 40%;
    font-size: 3em;}
  .index__intro {
    top: 60%;
    font-size: 15px; }
    .index__portada { overflow:auto;
}
}