
    
    .main__contacto{
    background-image: url(../imagenes/casamadera.jpg);
    background-repeat: no-repeat;
    opacity: 0.85;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-template-rows: repeat(2, 255px); */
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-top:  100px;
    grid-row: 2/3;
    }
    .mapa {
    /* grid-column: 1/3;
    grid-row: 2/3;
    align-items: center; */
    border-radius: 20px
    ;
        &frame {
        border-radius: 20px;
        display: block;
        height: 100%;
        width: 100%;}
    }
    /* .div__contacto{
    grid-column: 1/2;
    grid-row: 1/2;
    } */
    .formulario__contacto{
    display: flex;
    flex-direction: column; 
    width: 250px;
    z-index: 9;
    font-family: 'bebas neue';
    font-weight: bolder; 
    font-size: 30px;
    align-items: center;
    background-color: grey;
    border-radius: 10px;
    opacity: 0.95;
    margin: auto;
    }
    .contacto__description{
    display: flex;
    flex-direction: column;
    z-index: 9;
    font-family: 'bebas neue';
    font-weight: bolder; 
    font-size: 30px;
    /* grid-column: 2/3;
    grid-row: 1/2; */
    align-items: center;
    justify-content: center;
    }