.header {height: 70px;
    width: 100%;
    background-color:rgb(18, 18, 18);
    opacity: 0.7;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    }
    nav{
        width: 70%;
        height: 50%;
         padding-top: 20px; 
        box-sizing: border-box; 
        
        }
        
         nav ul {
        display:flex;
        list-style-type: none;
        justify-content: end;
        gap: 1rem;
        flex-basis: 60%;
        } 
        nav ul li a {
        color:rgb(255, 255, 255);
        font-size: 1.9em;
        text-decoration: none;
        letter-spacing: 0.45em;
        font-family: 'Bebas Neue', cursive;
        }
        nav ul li a:hover {
        color: rgb(30, 26, 26);
        transition: 0.7s;
        
        }
        
        
        
        .container-fluid{
        color:rgb(4, 3, 3);
        font-size: 1.9em;
        text-decoration: none;
        letter-spacing: 0.45em;
        font-family: 'Bebas Neue', cursive;
        
        }
        
        .navbar-nav a:hover{
          color: rgb(30, 26, 26);
        transition: 0.7s;
        
        }