// estilos comunes a todas las paginas
.boton {
width: 60px;
padding-right:0%;
height: 60px;
position: fixed;
z-index: 999;}
.wsp{
background-color: rgb(70, 68, 69);
border: 2px black;
position: fixed;
z-index: 999;
border-radius: 10%;
bottom: 80px;
right: 80px;
padding:2px;
transition: ease 0.5s;
}
.wsp:hover{
transform:scale(1.1);
transition: 0.3s;
}

.logo{ height: 70px;
width: 90px;
} 

@media screen and (max-width: 200px) {
    footer { flex-direction: column; 
      font-size: 0.8em;
      height: 20px;}
    nav ul  { flex-direction: column;}
    nav ul li a { font-size: 0.8em;} }



body{
display: grid;
grid-template-rows: auto 1fr auto;
min-height: 100vh;
} 


html {
font-size: 62.5%;
}

*{margin: 0;
    padding: 0;}
  